.margin{
    margin-top: 100px;
}
.section {
    position: relative;
}
#account-container {
    background-color: rgb(170, 170, 236);
}
h2 {
    color: black;
}
label {
    color: black;
}
.form-control {
    background-color: white;
}
.form-control-plaintext {
    background-color: transparent;
    // border: solid transparent;
}

.col {
    color: black;
}

.container {
    padding-top: 10px;
}